@import "tailwindcss";


.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Oculta a barra de scroll para IE, Edge e Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}